* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d5d5d5;
}

.main {
  padding: 10px 0;
  width: 800px;
  margin: 0 auto;
  background-color: #f2f2f2;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: #4f5f73;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  font-family: "Playfair Display", "Times New Roman", Times, serif;
  font-size: 24px;
}

a {
  color: #4f5f73;
  text-decoration: none;
}

a:hover {
  color: #8c4b45;
}

#intro {
  padding: 10px 0 0 0;
  text-align: justify;
}

table {
  border: #333 solid 1px;
  background-color: #fafafa;
  width: 100%;
  margin: 20px 0px;
  padding: 0 20px;
  border-collapse: collapse;
}

table td:nth-child(1) {
  background-color: #ccc4c0;
}

table td:nth-child(2) {
  background-color: #d6d6d6;
}

th {
  background-color: #4f5f73;
  color: #fff;
  padding: 5px;
  text-align: center;
}

td {
  padding: 10px;
  text-align: lef;
  border: #333 solid 1px;
  min-height: 50px;
}

.content h1 {
  color: #37424f;
  padding: 10px 0;
}

h2 {
  color: #4f5f73;
  padding: 10px 0;
}

h3 {
  color: #8c4b45;
  padding: 10px 0;
}

button {
  background-color: #4f5f73;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

button:hover {
  background-color: #8c4b45;
}

button:active {
  background-color: #333;
}

.background-color {
  height: 50px;
  width: 200px;
  border: #333 solid 1px;
  padding: 20px;
}

#color-1 {
  background-color: #4f5f73;
}

#color-2 {
  background-color: #d6d6d6;
}

#color-3 {
  background-color: #fafafa;
}

#color-4 {
  background-color: #c0c6ce;
}

#color-5 {
  background-color: #ccc4c0;
}

#color-6 {
  background-color: #8c4b45;
}

/*
 * Section: Fonts
 * Description: This section contains font-related styles for the website design system.
 */

#roboto {
  font-family: "Roboto", sans-serif;
}

#open-sans {
  font-family: "Open Sans", sans-serif;
}

#montagu {
  font-family: "Montagu Slab", serif;
}

#playfair {
  font-family: "Playfair Display", serif;
}

#normal {
  font-weight: normal;
}

#bold {
  font-weight: bold;
}

#italic {
  font-style: italic;
}

#underline {
  text-decoration: underline;
}
